# --- Virtual Environment ---
.venv/
venv/
ENV/

# --- Python Cache ---
__pycache__/
*.pyc

# --- IDE Settings ---
.idea/
.vscode/

# --- Data Assets ---
data/raw/
data/processed/
data/train/
data/validation/
data/test/
*.csv

# --- OS Junk ---
.DS_Store
Thumbs.db